<h3>
  Products
</h3>

<ul>
  <li *ngFor="let product of products">
    <p>{{product.name}}: {{product.price}}</p>
  </li>
</ul>

<h3>
  Categories
</h3>

<ul>
  <li *ngFor="let category of categories">
    <p>{{category.name}}</p>
  </li>
</ul>

<h3>
  Places
</h3>

<ul>
  <li *ngFor="let place of places">
    <p>{{place.name}}</p>
  </li>
</ul>

<h3>
  Populations
</h3>

<ul>
  <li *ngFor="let population of populations">
    <p>{{population.city}}: {{population.population}}</p>
  </li>
</ul>

<!-- <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="populations"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
  (select)="onSelect($event)">
</ngx-charts-line-chart> -->
